<main class="main">
  <section class="lunch-group-list" #nav>
    <header class="nav-header">
      <span class="nav-title">Groups</span>
    </header>
    <nav class="groups">
      <ul class="groups-items">
        <li class="groups-item active" (click)="select_group()">
            <span class="group-avatar"><img class="group-img" src="/images/work.jpg" alt="" /></span>
            <span class="group-name">Work Lunch</span>
        </li>
        <li class="groups-item">
            <span class="group-avatar"><img class="group-img" src="/images/gym.jpg" alt="" /></span>
            <span class="group-name">Gym Lunch</span>
        </li>
        <li class="groups-item">
            <span class="group-avatar"><img class="group-img" src="/images/family.jpg" alt="" /></span>
            <span class="group-name">Family Dinner</span>
        </li>
        <li class="groups-item">
            <span class="group-avatar"><img class="group-img" src="/images/bball.jpg" alt="" /></span>
            <span class="group-name">League Team</span>
        </li>
        <li class="groups-item">
            <span class="group-avatar"><img class="group-img" src="/images/date.jpg" alt="" /></span>
            <span class="group-name">Date Night</span>
        </li>
      </ul>
    </nav>
  </section>
  <section class="lunch-group-content">
    <router-outlet></router-outlet>
  </section>
</main>
