.chat-input-container {
  flex: 1;
  height: 100px;
  background-color: #8490AB  !important;
  color: white;
  position: relative;
  .chat-input-content{
    position: absolute;
    width:calc(100% - 100px);
    @include centerElement('both');
  }
  .mdl-textfield{
    display: inline-block;
    width:calc(100% - 100px);
    vertical-align: middle;
  }
  .mdl-textfield__input{
    resize: none;
  }
  .mdl-button--fab{
    &.mdl-button--colored{
      background-color:$hl-color;
      position: absolute;
      right:50px;
      @include centerElement('vertical');
    }
  }
}


