<footer class="chat-input-container">
    <form class="chat-input-form" (submit)="onSubmit($event,txtMessage,form)" #form>
        <div class="chat-input-content">
            <div class="mdl-textfield mdl-js-textfield" component-handler #md1textfield>
                <textarea class="mdl-textfield__input" rows= "3" id="sample5" #txtMessage type="text" (input)="onInput($event,txtMessage,form)" (change)="onChange(txtMessage)" (keydown)="onKeypress($event,button)"></textarea>
                <label class="mdl-textfield__label" for="sample5">Message...</label>
            </div>
        </div>

        <button #button type="submit" component-handler class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">send</i>
        </button>
    </form>
</footer>